@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
:root{
    --primary-color:#A78BFA;
}
#outputDiv{
    border: 2px solid black;
    height: 10vh;
    padding: 2rem;
    display: block;
    margin: 2rem;
}
#text{
    height: 10vh;
}